# ========================
# C++ (geral)
# ========================

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug info
*.dwo

# ========================
# Visual Studio
# ========================

# Pasta do VS (CACHE - NÃO versionar)
.vs/

# Arquivos de usuário
*.user
*.suo

# Pastas de build
Debug/
Release/
x64/
x86/
out/
build/

# CMake (se você usar depois)
CMakeFiles/
CMakeCache.txt
cmake-build-*/

# ========================
# Logs / temporários
# ========================
*.log
*.tmp
*.cache

# ========================
# Sistema operacional
# ========================
.DS_Store
Thumbs.db